<link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto+Mono:wght@700&display=swap" rel="stylesheet">

<section id="home">

        <div class="container">
                    
            <img src="../../../assets/img/banner.jpg" class="img-responsive" alt="home img">
            <p >Bienvenido a CareerAdvisory <i class="em em-grinning" aria-role="presentation" aria-label="GRINNING FACE"></i> </p>
              <div> Para comenzar, te haremos una serie de preguntas, estas preguntas están<br> diseñadas para ayudarnos a 
                encontrar las carreras o profesiones<br> que más se adaptan a ti en función de tus intereses<br> <br> En CareerAdvisory contamos con diversos tests, puedes escoger el que desees,<br> de esta manera, conseguirás un resultado más acertado
            </div>
               <button mat-flat-button routerLink="Test" routerLinkActive="active" > VER TESTS

                </button>
        </div>
    
        <footer class="foot">
            <div class="grupo1">
                <div class="box">
                    <figure>
                        <a >
                            <img src="../../../assets/img/logo.png">
                        </a>
                    </figure>
                </div>
                <div class="box">
                    <h2>CareerAdvisory</h2>
                    <p>CareerAdvisory te ayuda a encontrar la carrera o la profesión que más se adapta a ti</p>
                </div>
            </div>
        </footer>
       


</section>  
