.body1{
    
    display: flex;
    justify-content: center  ;
    height: 100%;
    align-items: center;
    
    background-size:cover;
    background-attachment: fixed;
    
    
}
.Login{
width: 100%;
max-width: 330px;
text-align: center;
justify-content: center; 
   
}
.ancho{
width: 70%;
height: 50%;
}

