<div class="container">
    <img src="../../../../assets/img/kuder">
              
   
<div class="titulo">Test Kuder</div>
<p class="text">El test de preferencias vocacionales de Kuder, también llamado Kuder Escala de Preferencias Vocacionales, fue elaborado por G. Frederic Kuder. Frederic Kuder (1903-2000) fue un psicólogo doctor en Psicología,
    nacido en Michigan.Se centró en estudiar, dentro del campo de la psicología, los intereses de las personas, y desarrolló cuatro inventarios de intereses que fueron traducidos a diferentes idiomas.
    La edad de aplicación del test de preferencias vocacionales de Kuder es a partir de los 15 años. Su forma de administración puede ser individual o colectiva, y la duración de su aplicación es de 1 hora aproximada (aunque no hay límite de tiempo). 
</p>
<a class="pointer" href="https://www.pucv.cl/uuaa/site/docs/20210617/20210617153856/inventario_de_intereses_vocacionales___test_de_kuder__1_.pdf" height="100" width="100" target="_blank">
    <mat-icon>cloud_download</mat-icon>
</a>      

</div>
<div class="container">
    <img src="../../../../assets/img/chaside.jpg" height="370" width="600">
              
   
<div class="titulo">Test chaside</div>
<p class="text">
     El test Chaside, es un cuestionario con 98 preguntas enfocadas a identificar tus intereses y aptitudes para la selección de una vocación.
    Los intereses son inclinaciones o disposiciones naturales que poseen las personas hacia una o varias actividades, objetos o individuos. Puedes tener muchos o varios intereses y, gracias a ellos,
     el trabajo o las actividades que desarrollas te resultan placenteras. Los intereses obligan a la persona a buscar activamente caminos y medios para satisfacer sus “ansias de conocimiento y saber”
     Si conoces tus aptitudes será más fácil saber en qué profesión podrías desempeñarte mejor.
</p>
    <a class="pointer"href="https://drive.google.com/file/d/1yWyIOssjjZfUOMH7BTi4Gh566hDN484N/view?usp=sharing"  target="_blank"  >
        <mat-icon>cloud_download</mat-icon>
    </a>         
</div>

<div class="container">
    <img src="../../../../assets/img/aptitud.jpg" height="370" width="600">
              
   
<div class="titulo">Test Aptitudes</div>
<p class="text">
    Los test de aptitud son estrictamente cronometrados, consisten en una serie de preguntas de opción múltiple entregadas bajo títulos como: razonamiento numérico, verbal, no verbal, espacial, mecánico y abstracto.
    Las pruebas de aptitud se llevan a cabo ya sea de forma online  en la comodidad de tu casa o en papel como un complemento a la entrevista.
    Estas pruebas diseñadas para evaluar tu razonamiento lógico y tus habilidades de pensamiento, permiten medir cómo podrías realizar tareas específicas o reaccionar ante diferentes situaciones.
</p>
    <a class="pointer"href="https://drive.google.com/file/d/1UlEpS2LTWUN3KURNTte5CQMf8835q5c4/view?usp=sharing"  target="_blank"  >
        <mat-icon>cloud_download</mat-icon>
    </a>         
</div>

<div class="container">
    <img src="../../../../assets/img/holland.jpg" height="470" width="600">
              
   
<div class="titulo">Test Holland</div>
<p class="text">
    Los Códigos de Holland son un conjunto de tipos de personalidad desarrollados por el psicólogo John L. Holland en la década de 1970. El Dr. Holland razonó que las personas trabajan mejor en entornos laborales que coinciden con sus preferencias. Es posible identificar los entornos laborales que mejor encajan con cada persona. La mayoría de las personas responden a una combinación de dos o tres de las áreas
     de interés de Holland. Estas dos o tres áreas son su «Código de Holland».
</p>
    <a class="pointer"href="https://cuvintedu.files.wordpress.com/2018/11/test-de-holland.pdf"  target="_blank"  >
        <mat-icon>cloud_download</mat-icon>
    </a>         
</div>

<footer class="foot">
    <div class="grupo1">
        <div class="box">
            <figure>
                <a >
                    <img src="../../../assets/img/logo.png">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>CareerAdvisory</h2>
            <p>CareerAdvisory te ayuda a encontrar la carrera o la profesión que más se adapta a ti</p>
        </div>
    </div>
</footer>

