<h1 class="title">Conoce más sobre tu carrera!</h1>
<p class="a">Encuentra toda la información sobre la carrera que buscas.</p>
    
    <div class="container">
       
        <div class="card">
            <img src="../../../assets/img/economia.jpg">
            <h4>Administración </h4>
            <p>Un administrador puede trabajar en diferentes sectores e industrias y ejercer su profesión en organizaciones públicas o privadas</p>
            <a href="#" href="https://pregrado.upc.edu.pe/facultad-de-economia/ciencias-politicas/" target="_blank">Leer más</a>
        </div>
        
        <div class="card">
            <img src="../../../assets/img/psicologia.jpg">
            <h4>Psicología</h4>
            <p>Un Psicólogo es un profesional matriculado en salud que trabaja con personas en que tienen problemas que puede variar desde depresión, fobias, etc. </p>
            <a href="#" href="https://pregrado.upc.edu.pe/facultad-de-psicologia/psicologia/" target="_blank">Leer más</a>
        </div>
        
        <div class="card">
            <img src="../../../assets/img/derecho.jpg">
            <h4>Derecho</h4>
            <p>Un abogado es alguien que tiene licencia para ejercer la ley, y cuya obligación es mantener la ley al tiempo que protege los derechos de sus clientes.</p>
            <a href="#" href="https://pregrado.upc.edu.pe/facultad-de-derecho/derecho/"target="_blank">Leer más</a>
        </div>
        <div class="card">
            <img src="../../../assets/img/periodismo.jpg">
            <h4>Comunicación y periodismo</h4>
            <p>Un comunicador es una persona como organización que se dedica a transmitir un mensaje a un público objetivo a través de un medio de comunicación</p>
            <a href="#">Leer más</a>
        </div>
        <div class="card">
            <img src="../../../assets/img/politica.jpg">
            <h4>Ciencias políticas</h4>
            <p>La Ciencia Política permite comprender las relaciones de poder y el proceso de toma de decisiones de Estado y de política pública</p>
            <a href="#">Leer más</a>
        </div>
        <div class="card">
            <img src="../../../assets/img/arquitectura.jpg">
            <h4>Arquitectura y urbanismo</h4>
            <p>Un arquitecto es alguien que ama diseñar, y está específicamente capacitado y licenciado para trabajar en la planificación y diseño de edificios. </p>
            <a href="#">Leer más</a>
        </div>
        <div class="card">
            <img src="../../../assets/img/civil.jpg">
            <h4>Construcción e ingeniería civil</h4>
            <p>Un ingeniero civil es alguien que diseña y supervisa grandes proyectos de construcción.</p>
            <a href="#">Leer más</a>
        </div>
        <div class="card">
            <img src="../../../assets/img/comida.jpg">
            <h4>Industria de la alimentación</h4>
            <p>La industria alimentaria consiste en la elaboración de alimentos a través de los diferentes procesos de industrialización .</p>
            <a href="#">Leer más</a>
        </div>
        <div class="card">
            <img src="../../../assets/img/quimica.jpg">
            <h4>Ingeniería química</h4>
            <p>Los ingenieros químicos analizan y experimentan con compuestos químicos. Esto permite al ing. químico construir nuevos compuestos químicos.</p>
            <a href="#">Leer más</a>
        </div>
        <div class="card">
            <img src="../../../assets/img/ambiental.jpg">
            <h4>Ciencias ambientales</h4>
            <p>Las ciencias ambientalesson una disciplina científica cuyo principal objetivo es conocer las relaciones que mantiene el ser humano consigo mismo y con la naturaleza</p>
            <a href="#">Leer más</a>
        </div>
        <div class="card">
            <img src="../../../assets/img/fisica.jpg">
            <h4>Física</h4>
            <p>Un físico es alguien que explora e identifica los principios básicos que rigen la estructura y el comportamiento de la materia</p>
            <a href="#">Leer más</a>
        </div>
        <div class="card">
            <img src="../../../assets/img/medicina.jpg">
            <h4>Medicina</h4>
            <p>La Medicina forma profesionales en el área de la salud con el fin de ayudar en el tratamiento y la recuperación de pacientes.</p>
            <a href="#">Leer más</a>
        </div>
    </div>
    
